.toastList {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
  padding: 0;
  margin: 0;

  button {
    cursor: pointer;
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding-left: 0.875rem;
    animation: toastIn 0.25s ease-in-out;
    background-color: var(--ifm-color-emphasis-200);
    border-width: 2px;
    &:hover {
      background-color: var(--ifm-color-emphasis-300);
      color: inherit;
    }
  }
}

@keyframes toastIn {
  from {
    transform: scale(0.5) translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
  }
}
