.tooltip {
    display: inline-block;
    position: relative;
    border-bottom: 1px dotted var(--ifm-blockquote-border-color);
}

.hint {
    display: inline-block;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    bottom: 120%;
    right: -15%;
    border: 2px dashed var(--ifm-blockquote-border-color);
    border-radius: 5px;
    background: var(--ifm-background-surface-color);
    min-width: 15vw;
    max-width: 40vw;
}

.tooltip .hint::after {
    content: " ";
    position: absolute;
    top: 100%;
    right: 5%;
    border-width: 10px;
    border-style: dashed;
    border-color: var(--ifm-blockquote-border-color) transparent transparent transparent;
}

.tooltip:hover .hint {
    visibility: visible;
}
